.page_wrap {
  height: 100vh!important;
  overflow-y:scroll;
  overflow-x:hidden;
}

.sidebar {
  display: flex;
  overflow: hidden;
  flex: 1 2;
}

.page_body.sidebar {
  overflow: scroll;
}
.main {
    display: flex;
    flex: 2 0;
}

/* input[type="submit"] {
   position: fixed;
   right: 20px;
   top: 20px;
   z-index: 99;

   } */
